<div class="container text-center">
  <h2>Our Broou Team</h2>
  <div class="row">
  <!-- <ul class="list-inline"> -->
    <% data.team.each do |member| %>
      <div class="col-xs-3">
        <%= partial 'team_member', locals: {name: member[:name], picture_id: member[:picture_id]} %>
      </div>
    <% end %>
  <!-- </ul> -->
  </div>
</div>